<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="VerboseLayout" value="${longdate}|${level:uppercase=true}|${logger}|Message: ${message}${newline}"/>
	<variable name="ExceptionVerboseLayout" value="${VerboseLayout}${exception:format=ToString}${newline}"/>

	<!-- the targets to write to -->
	<targets async="true">
		<default-target-parameters xsi:type="File" keepFileOpen="false"/>
		<target xsi:type="File" name="fatalErrors" fileName="${basedir}\logs\critical-errors\${shortdate}.log"
				layout="${ExceptionVerboseLayout}" />

		<target xsi:type="File" name="errors" fileName="${basedir}\logs\errors\${shortdate}.log"
				layout="${ExceptionVerboseLayout}" />

		<target xsi:type="File" name="warnings" fileName="${basedir}\logs\warnings\${shortdate}.log"
				layout="${VerboseLayout}" />

		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />

		<target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} |${level:uppercase=true}| ${logger} ${message}">
			<highlight-word text="INFO" foregroundColor="DarkGreen" />
			<highlight-word text="ERROR" backgroundColor="DarkRed" foregroundColor="white" />
			<highlight-word text="WARN" foregroundColor="yellow" />
			<highlight-word text="FATAL" backgroundColor="DarkMagenta" foregroundColor="white" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />

		<logger name="*" minlevel="Info" writeTo="console"/>

		<!--All fatal logs-->
		<logger name="*" minlevel="Fatal" writeTo="fatalErrors" final="true"/>

		<!--All error logs-->
		<logger name="*" level="Error" writeTo="errors" final="true"/>

		<!--All warning logs-->
		<logger name="*" level="Warn" writeTo="warnings" final="true"/>
		
	</rules>
</nlog>